/*Begin::toastr*/
.toastr.toastr-success {
    background-color: #228B22;
}

.toastr.toastr-error {
    background-color: #DC143C;
}

/*End::toastr*/

/*Begin::button*/
.btn-block {
    display: block;
    width: 100%;
}

/*End::button*/
